In [24]:
import pandas as pd

In [25]:
df1 = pd.read_csv('game_1.csv')

In [36]:
df2 = pd.read_csv('game_2.csv')

In [37]:
comparison_df = df1.merge(df2,indicator=True, how='outer')

In [62]:
#comparison_df

In [44]:
df3 = pd.read_csv('game_3.txt',sep = '|')

In [61]:
df4 = pd.read_csv('game_4.txt',sep = '|')

In [60]:
comparison_df_txt = df3.merge(df4,indicator=True, how='outer')

In [59]:
comparison_df_txt.to_csv('compare.csv')

In [63]:
df5 = pd.read_csv('game_5.dat',sep = '|')

In [64]:
df6 = pd.read_csv('game_6.dat',sep = '|')

In [65]:
comparison_df_dat = df5.merge(df6,indicator=True, how='outer')

In [70]:
comparison_df_dat.to_csv('compare_dat.csv')

In [126]:
df7 = pd.read_csv('game_1.csv')
df7

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2012030221,20122013,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
1,2012030222,20122013,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
2,2012030223,20122013,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
3,2012030224,20122013,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
4,2012030225,20122013,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
5,2012030311,20122013,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
6,2012030312,20122013,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
7,2012030313,20122013,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
8,2012030314,20122013,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT

In [138]:
df8 = pd.read_csv('game_5.dat',sep = '|')
#df8

In [139]:
#df8.astype(str)
#df8.dtypes

In [140]:
comparison_df_mix = df7.merge(df8,indicator=True, how='outer')

In [141]:
#comparison_df_mix

In [142]:
comparison_df_mix.loc[lambda x : x['_merge']!='both']

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,_merge
8,2012030314,20122013,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,left_only
9,2012030314,20122013,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venuesQQ/null,America/New_York,-4,EDT,right_only

In [131]:
comparison_df_mix.to_csv('compare_mix.csv')