In [230]:
import pandas as pd

In [231]:
df1 = pd.read_csv('game_1.csv')
df1.columns = df1.columns.str.lower()

In [232]:
df2 = pd.read_csv('game_2.csv')

In [233]:
comparison_df = df1.merge(df2,indicator=True, how='outer')

In [234]:
#comparison_df

In [235]:
df3 = pd.read_csv('game_3.txt',sep = '|')

In [236]:
df4 = pd.read_csv('game_4.txt',sep = '|')

In [237]:
comparison_df_txt = df3.merge(df4,indicator=True, how='outer')

In [238]:
comparison_df_txt.to_csv('compare.csv')

In [239]:
df5 = pd.read_csv('game_5.dat',sep = '|')
#df5.dtypes

In [240]:
df6 = pd.read_csv('game_6.dat',sep = '|')
#df6.dtypes

In [241]:
comparison_df_dat = df5.merge(df6,indicator=True, how='outer')

In [242]:
comparison_df_dat.to_csv('compare_dat.csv')

In [243]:
df7 = pd.read_csv('game_1.csv')
df7.columns = df7.columns.str.lower()
#df7

In [244]:
df8 = pd.read_csv('game_5.dat',sep = '|')
#df8

In [245]:
#df8.astype(str)
#df8.dtypes

In [246]:
comparison_df_mix = df7.merge(df8,indicator=True, how='outer')

In [247]:
#comparison_df_mix

In [248]:
comparison_df_mix.loc[lambda x : x['_merge']!='both']

Empty DataFrame
Columns: [game_id, type, date_time, away_team_id, home_team_id, away_goals, home_goals, outcome, home_rink_side_start, venue, venue_link, venue_time_zone_id, venue_time_zone_offset, venue_time_zone_tz, season, _merge]
Index: []

In [249]:
comparison_df_mix.to_csv('compare_mix.csv')