In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('game_1.csv')
df1.columns = df1.columns.str.lower()

In [3]:
df2 = pd.read_csv('game_2.csv')

In [4]:
comparison_df = df1.merge(df2,indicator=True, how='outer')

In [5]:
#comparison_df

In [6]:
df3 = pd.read_csv('game_3.txt',sep = '|')

In [7]:
df4 = pd.read_csv('game_4.txt',sep = '|')

In [8]:
comparison_df_txt = df3.merge(df4,indicator=True, how='outer')

In [9]:
comparison_df_txt.to_csv('compare.csv')

In [10]:
df5 = pd.read_csv('game_5.dat',sep = '|')
#df5.dtypes

In [11]:
df6 = pd.read_csv('game_6.dat',sep = '|')
#df6.dtypes

In [12]:
comparison_df_dat = df5.merge(df6,indicator=True, how='outer')

In [13]:
comparison_df_dat.to_csv('compare_dat.csv')

In [2]:
df7 = pd.read_csv('game_1.csv')
df7.columns = df7.columns.str.lower()
df7

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season
0,2012030221,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
1,2012030222,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
2,2012030223,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
3,2012030224,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
4,2012030225,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
5,2012030311,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013
6,2012030312,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013
7,2012030313,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013

In [3]:
df8 = pd.read_csv('game_5.dat',sep = '|')
df8

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2.012030e+09,20122013.0,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
1,2.012030e+09,20122013.0,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
2,2.012030e+09,20122013.0,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
3,2.012030e+09,20122013.0,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
4,2.012030e+09,20122013.0,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
5,2.012030e+09,20122013.0,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
6,2.012030e+09,20122013.0,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT
7,2.012030e+09,20122013.0,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
8,2.012030e+09,20122013.0,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,America/New_York,-4,EDT

In [26]:
#df8.astype(str)
#df8.dtypes

In [4]:
comparison_df_mix = df7.merge(df8,indicator=True, how='outer')

In [5]:
comparison_df_mix

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season,_merge
0,2012030221,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
1,2012030222,P,5/19/2013,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
2,2012030223,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
3,2012030224,P,5/23/2013,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
4,2012030225,P,5/25/2013,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
5,2012030311,P,6/2/2013,6,5,3,0,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
6,2012030312,P,6/4/2013,6,5,6,1,away win REG,left,CONSOL Energy Center,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
7,2012030313,P,6/6/2013,5,6,1,2,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,both
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
9,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,America/New_York,-4,EDT,20122013,right_only

In [6]:
comparison_df_filter = comparison_df_mix.loc[lambda x : x['_merge']!='both']

In [7]:
comparison_df_filter

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season,_merge
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
9,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,America/New_York,-4,EDT,20122013,right_only

In [30]:
#comparison_df_filter = comparison_df_filter.loc[:,~comparison_df_filter.T.duplicated(keep='first')]

In [12]:
#comparison_df_filter_1 = 
#comparison_df_filter.T
#.drop_duplicates(keep = False, inplace = True)

In [42]:
comparison_df_filter

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season,_merge
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
9,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,America/New_York,-4,EDT,20122013,right_only

In [11]:
nunique = comparison_df_filter.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
comparison_df_filter.drop(cols_to_drop, axis=1)

                venue_link      _merge
8      /api/v1/venues/null   left_only
9  /api/v1/venues/nullQQQQ  right_only

In [33]:
#comparison_df_mix.to_csv('compare_mix.csv')

In [8]:
#nunique = comparison_df_filter.apply(pd.Series.nunique)
#nunique

In [9]:
#cols_to_drop = nunique[nunique == 2]
#cols_to_drop = cols_to_drop.concat('game_id')
#cols_to_drop

In [10]:
#comparison_df_filter.drop(cols_to_drop, axis=1)