In [108]:
import pandas as pd
import csv

In [2]:
df1 = pd.read_csv('game_1.csv')
df1.columns = df1.columns.str.lower()

In [3]:
df2 = pd.read_csv('game_2.csv')

In [4]:
comparison_df = df1.merge(df2,indicator=True, how='outer')

In [5]:
#comparison_df

In [6]:
df3 = pd.read_csv('game_3.txt',sep = '|')

In [7]:
df4 = pd.read_csv('game_4.txt',sep = '|')

In [8]:
comparison_df_txt = df3.merge(df4,indicator=True, how='outer')

In [9]:
comparison_df_txt.to_csv('compare.csv')

In [10]:
df5 = pd.read_csv('game_5.dat',sep = '|')
#df5.dtypes

In [11]:
df6 = pd.read_csv('game_6.dat',sep = '|')
#df6.dtypes

In [12]:
comparison_df_dat = df5.merge(df6,indicator=True, how='outer')

In [13]:
comparison_df_dat.to_csv('compare_dat.csv')

In [77]:
df7 = pd.read_csv('game_1.csv')
df7.columns = df7.columns.str.lower()
#df7

In [78]:
df8 = pd.read_csv('game_5.dat',sep = '|')
#df8

In [79]:
#df8.astype(str)
#df8.dtypes

In [80]:
comparison_df_mix = df7.merge(df8,indicator=True, how='outer')

In [81]:
#comparison_df_mix

In [82]:
comparison_df_filter = comparison_df_mix.loc[lambda x : x['_merge']!='both']

In [83]:
comparison_df_filter

,game_id,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,season,_merge
0,2012030221,P,5/16/2013,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
2,2012030223,P,5/21/2013,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
8,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,left_only
9,2012030221,P,5/16/2013,3,6,2,3,home win OTTT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,20122013,right_only
10,2012030223,P,5/21/2013,6,3,2,1,away win REGGGG,right,Madison Square GardenNN,/api/v1/venues/null,America/New_York,-4,EDT,20122013,right_only
11,2012030314,P,6/8/2013,5,6,0,1,home win REG,left,TD Garden,/api/v1/venues/nullQQQQ,AmericaNN/New_York,-4,EDT,20122013,right_only

In [84]:
#comparison_df_filter = comparison_df_filter.loc[:,~comparison_df_filter.T.duplicated(keep='first')]

In [85]:
#comparison_df_filter_1 = 
#comparison_df_filter.T
#.drop_duplicates(keep = False, inplace = True)

In [86]:
#comparison_df_filter

In [87]:
'''nunique = comparison_df_filter.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
comparison_df_filter.drop(cols_to_drop, axis=1)'''

'nunique = comparison_df_filter.apply(pd.Series.nunique)\ncols_to_drop = nunique[nunique == 1].index\ncomparison_df_filter.drop(cols_to_drop, axis=1)'

In [88]:
#comparison_df_mix.to_csv('compare_mix.csv')

In [89]:
#nunique = comparison_df_filter.apply(pd.Series.nunique)
#nunique

In [90]:
#cols_to_drop = nunique[nunique == 2]
#cols_to_drop = cols_to_drop.concat('game_id')
#cols_to_drop

In [91]:
#comparison_df_filter.drop(cols_to_drop, axis=1)

In [92]:
len(df7)

9

In [93]:
#df7.iloc[0,1]
#df7.columns[1]

In [94]:
''' iterate over dataframe 
for i in range(len(df7)) :
    if(i < len(df7)-1):
        if(df7.iloc[i, i] = df7.iloc[i+1, i]):
            print(df7.iloc[i, 0], df7.iloc[i, 3]) '''

' iterate over dataframe \nfor i in range(len(df7)) :\n    if(i < len(df7)-1):\n        if(df7.iloc[i, i] = df7.iloc[i+1, i]):\n            print(df7.iloc[i, 0], df7.iloc[i, 3]) '

In [95]:
#df7.groupby('outcome').groups

In [102]:
matched_df = pd.DataFrame()
not_matched_df = pd.DataFrame()

In [116]:
with open('notMatched_final_1.csv', 'w', newline='') as file:
    writer = csv.writer(file , delimiter=',')
    for name, group in comparison_df_filter.groupby('game_id'):
        print(name)
        print( ' *****length***** ', len(group))
        for i in range(len(group)) :
            #print(' number of columns ' , len(group.columns ))
            if(i < len(group)-1):
                for j in range(len(group.columns)) :
                    if(j < len(group.columns) -1):
                        if(group.iloc[i, j] != group.iloc[i+1, j]):
                            #not_matched_df.insert(i, group.columns[j], (group.iloc[i, j],group.iloc[i+1, j]), True)
                            #not_matched_df.append({name : group.iloc[i, j]})
                            row = name , ' not matched ' , ' coulmn name ', group.columns[j], ' value ',(group.iloc[i, j],group.iloc[i+1, j])
                            writer.writerow(row)
                        '''else :
                            #not_matched_df.insert(j, group.columns[j], (group.iloc[i, j],group.iloc[i+1, j]), True)
                            print(name , '  matched ' ,group.iloc[i, j] , ' with ' , group.iloc[i+1, j] , ' for row ' , i,
                                 ' and column' , j, ' coulmn ', group.columns[j], ' value ',(group.iloc[i, j],group.iloc[i+1, j]))'''

2012030221
 *****length*****  2
2012030223
 *****length*****  2
2012030314
 *****length*****  2

In [98]:
#df7.sort_values("outcome", inplace = True) 
#df7.where(df7['outcome'] == 'away win REG' , inplace = True)
#df7[df7['outcome'] == 'away win REG']

In [ ]:
#print(name , ' not matched ' ,group.iloc[i, j] , ' with ' , group.iloc[i+1, j], ' for row ' ,
#      i , ' and column' , j,' coulmn ', group.columns[j], ' value ',(group.iloc[i, j],group.iloc[i+1, j]))

In [99]:
not_matched_df

,venue_time_zone_id,venue_link,venue,outcome,outcome
0,America/New_York,/api/v1/venues/null,Madison Square Garden,away win REG,home win OT
1,AmericaNN/New_York,/api/v1/venues/nullQQQQ,Madison Square GardenNN,away win REGGGG,home win OTTT